.btn {
  width: 100%;
  padding: 1.2rem 2rem;
  font-family: inherit;
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s ease;
  background: linear-gradient(to left bottom, #fcc419, #fab005);
  color: white;
  outline: none;
  border: none;
}
.btn:active {
  transform: translateY(6px);
}
